html, body, #wrapper{
    height: 100%;
    width: 100%;
    margin: 0;
}

#header{
    height: 100px;  
    width: 100%;
}

#footer{
    height: 100px;  
    width: 100%;
}

.title{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(215, 214, 214, 0.942); */
    border-radius: 10px;
    padding: 8px;
    /* border: 1px solid rgb(30, 109, 109,0.6); */
    font-size: 18px;
    color:rgb(30, 109, 109);
    -webkit-text-stroke: thickness color;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.6px;
    
}



@media (max-width: 768px) {
    .title {
        text-align: center;
        padding: 10px;
    }

    .title h2 {
        font-size: 16px;
    }
}

#map-canvas{
    height: 100%;
    flex: 1;
}

#wrapper {
    display: flex;
    height: 100%;
}


#mode{
    margin-bottom: 50px;
}

#filterSection {
    margin-left: 50px;
}

.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-icon {
    margin-right: 5px;
}

.toggle-checkbox {
    display: none; 
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 10px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.2s;
}

.toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #6dbf57;
}

.toggle-checkbox:checked + .toggle-label:after {
    transform: translateX(16px);
}

#filterSection label {
    margin-right: 5px;
}

/* Button Styles */
button {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 5px;
    background-color: #f8f8f8;
    color: #000000;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s;
}

button.active {
    background-color: #27ae60;
}

/* Responsive Design for Buttons on Smaller Screens */
@media (max-width: 768px) {
    button {
        width: 120px;
    }
}

#generatedUrl {
    display: none;
  }
