body, html {
    height: 100%;
    margin: 0;
    display: flex;
}

#map-canvas {
    height: 100%;
    flex: 1; /* This will allow the map to expand to fill the space available, aside from the sidebar */
}

#wrapper {
    display: flex;
    height: 100%;
}

#mode{
    margin-bottom: 50px;
}

#filterSection {
    margin-left: 50px;
}


.filter-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.filter-icon {
    margin-right: 5px;
}

.toggle-checkbox {
    display: none; /* To hide checkbox */
}

.toggle-label {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
    background: #ccc;
    border-radius: 50px;
    margin: 0 10px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.2s;
}

.toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.2s;
}

.toggle-checkbox:checked + .toggle-label {
    background-color: #6dbf57;
}

.toggle-checkbox:checked + .toggle-label:after {
    transform: translateX(16px);
}

#filterSection label {
    margin-right: 5px;
}

button {
    display: inline-flexbox;
    margin-left:80px;
}
